In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\nakarin\\Downloads\\customer_shopping_behavior.csv")

In [6]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [8]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [15]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [16]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [19]:
 df.columns.str.lower()

Index(['customer id', 'age', 'gender', 'item purchased', 'category',
       'purchase amount (usd)', 'location', 'size', 'color', 'season',
       'review rating', 'subscription status', 'shipping type',
       'discount applied', 'promo code used', 'previous purchases',
       'payment method', 'frequency of purchases'],
      dtype='object')

In [22]:
df.columns = df.columns.str.lower()

In [25]:
df.columns = df.columns.str.replace(' ','_')

In [26]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [28]:
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [30]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [31]:
# create a column age_group
labels = ['Young Adult', 'Adult' ,'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [33]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [47]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [48]:
# create column purchase_frequency_days
frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7, 
    'Annually':365,
    'Quarterly':90, 
    'Bi-Weekly':14,
    'Monthly':30, 
    'Every 3 Months':90
}

In [49]:
df['frequency_of_purchases_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [51]:
df[['frequency_of_purchases','frequency_of_purchases_days']]

     frequency_of_purchases  frequency_of_purchases_days
0               Fortnightly                           14
1               Fortnightly                           14
2                    Weekly                            7
3                    Weekly                            7
4                  Annually                          365
...                     ...                          ...
3895                 Weekly                            7
3896              Bi-Weekly                           14
3897              Quarterly                           90
3898                 Weekly                            7
3899              Quarterly                           90

[3900 rows x 2 columns]

In [53]:
(df['discount_applied'] == df['promo_code_used']).all() #checks if two columns in a DataFrame have identical values in every row

True

In [54]:
df = df.drop('promo_code_used',axis=1)

In [55]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'frequency_of_purchases_days'],
      dtype='object')

Connect DB SQL Express

In [56]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\users\nakarin\anaconda3\lib\site-packages (2.0.25)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyodbc in c:\users\nakarin\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nakarin\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nakarin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [61]:
from sqlalchemy import create_engine
import urllib

# Connection string for SQLAlchemy
server = 'LAPTOP-LHD1A7T4\SQLEXPRESS'
database = 'Customer_Behavior_Database'
username = 'LAPTOP-LHD1A7T4\nakarin'
password = 'champp16'

'''
# URL encode password if it contains special characters
params = urllib.parse.quote_plus(
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)
'''
connection_string = f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"

engine = create_engine(connection_string)

In [62]:
# Load dataframe into sqlexpress

table_name = "customer_behavior"
df.to_sql(table_name,engine,if_exists="replace",index=False)
print(f"Data successfully loaded into table '{table_name}' in database '{database}'")

Data successfully loaded into table 'customer' in database 'Customer_Behavior_Database'